<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">

    <head>
        <title>Zidingo RMS Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
        <div layout:fragment="content">

            <div class="col-lg-12">
                <h1 class="page-header">Administration</h1>
            </div>
            
            <div class="row">
                <div class="col-md-8 col-xs-12 col-md-offset-2">
                    <div class="widget stacked">
                        <div class="widget-header" style="padding-left: 12px;">
                            <i class="fa fa-fw fa-bolt"></i>
                            <span>Admin Quick Links</span>
                        </div>
                        <div class="widget-content">
                            <div class="shortcuts">
                                <a href="/admin/monitor" class="shortcut">
                                    <i class="shortcut-icon fa fa-stethoscope"></i>
                                    <span class="shortcut-label">System</span>
                                </a>
                                <a href="/admin/users" class="shortcut">
                                    <i class="shortcut-icon fa fa-users"></i>
                                    <span class="shortcut-label">Users</span>
                                </a>
                                <a href="javascript:void(0);" th:onclick="'javascript:CreateUserTask();'" class="shortcut">
                                    <i class="shortcut-icon fa fa-wrench"></i>
                                    <span class="shortcut-label">Task</span>
                                </a>
                                <a href="javascript:void(0);" th:onclick="'javascript:SendMessage();'" class="shortcut">
                                    <i class="shortcut-icon fa fa-envelope"></i>
                                    <span class="shortcut-label">Message</span>
                                </a>
                                <a href="javascript:void(0);" th:onclick="'javascript:SendNotification();'" class="shortcut">
                                    <i class="shortcut-icon fa fa-bell"></i>
                                    <span class="shortcut-label">Notice</span>
                                </a>
                                <a href="#" class="shortcut">
                                    <i class="shortcut-icon fa fa-bar-chart"></i>
                                    <span class="shortcut-label">Reports</span>
                                </a>
                                <a href="#" class="shortcut">
                                    <i class="shortcut-icon fa fa-warning"></i>
                                    <span class="shortcut-label">Blank</span>
                                </a>
                                <a href="#" class="shortcut">
                                    <i class="shortcut-icon fa fa-warning"></i>
                                    <span class="shortcut-label">Blank</span>
                                </a>
                                <a href="#" class="shortcut">
                                    <i class="shortcut-icon fa fa-warning"></i>
                                    <span class="shortcut-label">Blank</span>
                                </a>
                                <a href="#" class="shortcut">
                                    <i class="shortcut-icon fa fa-warning"></i>
                                    <span class="shortcut-label">Blank</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-8 col-xs-12 col-md-offset-2">
                    <div class="widget stacked">
                        <div class="widget-header" style="padding-left: 12px;">
                            <i class="fa fa-fw fa-database"></i>
                            <span>Administration Tasks</span>
                        </div>
                        <div class="widget-content">
                            <div class="shortcuts">
                                <a href="/admin/tasks/manage" class="shortcut">
                                    <i class="shortcut-icon fa fa-tasks"></i>
                                    <span class="shortcut-label">User Tasks</span>
                                </a>
                                <a href="/admin/pmsleads/load" class="shortcut">
                                    <i class="shortcut-icon fa fa-users"></i>
                                    <span class="shortcut-label">PMS Leads</span>
                                </a>
                                <a href="/admin/astadleads/load" class="shortcut">
                                    <i class="shortcut-icon fa fa-users"></i>
                                    <span class="shortcut-label">ASTAD Leads</span>
                                </a>
                                <a href="/admin/statuses/import" class="shortcut">
                                    <i class="shortcut-icon fa fa-flag"></i>
                                    <span class="shortcut-label">Statuses</span>
                                </a>
                                <a href="/admin/requests/confirmation" class="shortcut">
                                    <i class="shortcut-icon fa fa-question-circle"></i>
                                    <span class="shortcut-label">Requests</span>
                                </a>
                                <a href="/admin/verification/methods/load" class="shortcut">
                                    <i class="shortcut-icon fa fa-flask"></i>
                                    <span class="shortcut-label">V&amp;V Methods</span>
                                </a>
                                <a href="javascript:void(0);" th:onclick="'javascript:BootboxAdminRefreshComments();'" class="shortcut">
                                    <i class="shortcut-icon fa fa-comments"></i>
                                    <span class="shortcut-label">Comments</span>
                                </a>
                                <a href="javascript:void(0);" th:onclick="'javascript:BootboxAdminImportItems();'" class="shortcut">
                                    <i class="shortcut-icon fa fa-upload"></i>
                                    <span class="shortcut-label">Import Excel</span>
                                </a>
                                <a href="/admin/requirements/export" class="shortcut">
                                    <i class="shortcut-icon fa fa-file-excel-o"></i>
                                    <span class="shortcut-label">Export Excel</span>
                                </a>
                                <a href="javascript:void(0);" th:onclick="'javascript:BootboxAdminModalTest();'" class="shortcut">
                                    <i class="shortcut-icon fa fa-warning"></i>
                                    <span class="shortcut-label">Modal Text</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
        </div>
    </body>

    <th:block layout:fragment="scripts">

        <!-- <script src="/js/admin.js" type="application/javascript"></script> -->

    </th:block>

</html>
