<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layouts/main">

    <body>

        <div th:fragment="nav">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header col-md-3">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/images/logo-rms.png" alt="Zidingo RMS" style="margin-top: -10px;" />
                </a>
            </div>
            
            <!-- Top Menu Items -->
            <div>
                <ul class="nav navbar-right top-nav">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" style="font-size: 16px;">
                            <i class="fa fa-search"></i>
                        </a>
                        <ul class="dropdown-menu" style="width: 400px !important; padding-left: 20px;">
                            <form class="navbar-form" action="/artifact/items/search" role="search">
                                <div class="input-group btn-block">
                                    <input type="hidden" class="form-control" id="page" name="page" value="1" />
                                    <input type="hidden" class="form-control" id="size" name="size" value="25" />
                                    <input type="text" class="form-control" placeholder="Enter search terms" name="q" />
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </ul>
                    </li>
                    
                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
                        <a href="/admin" class="dropdown-toggle" data-toggle="dropdown" style="font-size: 16px;">
                            <i class="fa fa-cog"></i> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" style="width: 190px;">
                            <li>
                                <a href="/admin/dashboard"><i class="fa fa-fw fa-bar-chart"></i> Dashboard</a>
                            </li>
                            <li>
                                <a href="/admin/users"><i class="fa fa-fw fa-users"></i> Manage Users</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" th:onclick="'javascript:CreateUserTask();'"><i class="fa fa-fw fa-tasks"></i> Create user task</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" th:onclick="'javascript:SendMessage();'"><i class="fa fa-fw fa-envelope"></i> Send message</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" th:onclick="'javascript:SendNotification();'"><i class="fa fa-fw fa-bell"></i> Send notice</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/admin"><i class="fa fa-fw fa-gears"></i> Administration</a>
                            </li>
                            <li>
                                <a href="/admin/monitor"><i class="fa fa-fw fa-database"></i> System Monitoring</a>
                            </li>
                        </ul>
                    </li>
                    <li id="userMessages" class="dropdown">
                        <a href="/messages" class="dropdown-toggle" data-toggle="dropdown" style="font-size: 14px;">
                           <i class="fa fa-envelope"></i> <b class="caret"></b>
                            <sup id="userMessageCount" class="badge badge-hitcount"></sup>
                        </a>
                        <ul id="userMessageSummaries" class="dropdown-menu message-dropdown" style="width: 350px;"></ul>
                    </li>
                    <li id="userNotifications" class="dropdown">
                        <a href="/notifications" class="dropdown-toggle" data-toggle="dropdown" style="font-size: 14px;">
                            <i class="fa fa-bell"></i> <b class="caret"></b>
                            <sup id="userNotificationsCount" class="badge badge-hitcount"></sup>
                        </a>
                        <ul id="userNotificationDetails" class="dropdown-menu alert-dropdown" style="width: 300px;"></ul>
                    </li>
                    
                    <li id="userTasks" class="dropdown">
                        <a href="/notifications" class="dropdown-toggle" data-toggle="dropdown" style="font-size: 14px;">
                            <i class="fa fa-tasks"></i> <b class="caret"></b>
                            <sup id="userTasksCount" class="badge badge-hitcount"></sup>
                        </a>
                        <ul id="userTasksDetails" class="dropdown-menu tasks-dropdown" style="width: 350px;"></ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size: 16px;">
                            <i class="glyphicon glyphicon-user"></i> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/profile"><i class="fa fa-fw fa-user"></i> Profile</a>
                            </li>
                            <li>
                                <a href="/profile/inbox"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                            </li>
                            <li>
                                <a href="/system"><i class="fa fa-fw fa-gear"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            
            
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">

                    <li class="active">
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#projectsList" style="background: #369; color: #fff;">
                            <i class="fa fa-fw fa-briefcase"></i> Projects
                            <i id="more-less" class="fa fa-fw fa-plus-square pull-right" style="margin: 4px -5px;"></i>
                        </a>

                        <!-- Projects List -->
                        <ul id="projectsList" class="collapse"></ul>

                    </li>

                    <li>
                        <a id="projectModulesHeader" href="javascript:void(0);" data-toggle="collapse" data-target="#projectModules" onclick="javascript:ToggleProjectModulesTree();" style="background: #369; color: #fff;">
                            <i class="fa fa-fw fa-file-text-o"></i> Projects Modules
                            <i id="more-less-modules" class="fa fa-fw fa-minus-square pull-right" style="margin: 4px -5px; "></i>
                        </a>
                        <ul id="projectTree" class="ztree"></ul>
                    </li>
                    
                    <li>
                        <a id="applicationMenuHeader" href="javascript:void(0);" onclick="javascript:ToggleApplicationMenu();" style="background: #369; color: #fff;">
                            <i class="fa fa-fw fa-navicon"></i> Menu
                            <i id="more-less-appmenu" class="fa fa-fw fa-minus-square pull-right" style="margin: 4px -5px; "></i>
                        </a>
                        <ul id="applicationMenu">
                            <li style="border-bottom: 1px solid #c0c0c0;">
                                <a href="javascript:void(0);">
                                    Dashboard <i class="fa fa-fw fa-dashboard pull-right" style="margin: 4px 0;"></i>
                                </a>
                            </li>
                            <li style="border-bottom: 1px solid #c0c0c0;">
                                <a href="javascript:void(0);">
                                    Messages <i class="fa fa-fw fa-envelope pull-right" style="margin: 4px 0;"></i>
                                </a>
                            </li>
                            <li style="border-bottom: 1px solid #c0c0c0;">
                                <a href="javascript:void(0);">
                                    Notifications <i class="fa fa-fw fa-bell pull-right" style="margin: 4px 0;"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>

            </div>
            <!-- /.navbar-collapse -->

        </div>

    </body>

</html>