<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layouts/main">

    <head>
        <title>Zidingo RMS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>

    <body>

        <div layout:fragment="content">

            <div class="row" style="border-bottom: 1px solid #E3E3E3;">
                
                <div class="col-md-12" style="padding-left: 0px;">
                    <h1 class="page-header" style="border-bottom: none; padding-bottom: 2px;">
                        <span  th:text="${artifact.artifactLongName}">Artifact</span>
                    </h1>
                </div>

            </div>

            <div class="row" style="margin-top:14px;">
                <div class="col-md-6">
                    <h4 th:text="${artifact.identifier}">Project name</h4>
                    <h4 th:text="${artifact.artifactProject.projectName}">Project name</h4>
                </div>
                <div class="col-md-6" style="padding-right: 20px;">
                    <div th:if="${items.isEmpty()}" class="pull-right" >
                        <a th:href="@{'/artifacts/metadata/' + ${artifact.id}}"><i class="fa fa-fw fa-list"></i> Metadata</a> |
                        <a href="javascript:void(0);" th:onclick="'javascript:BootboxCreateFirstItem(\'' + ${artifact.id} + '\');'"><i class="fa fa-fw fa-pencil"></i> Create Item</a> |
                        <a href="#editItemModal" data-toggle="modal" data-item-id=""><i class="fa fa-fw fa-sitemap"></i> Apply Template</a> |
                        <a href="#importExcelModal" role="button" data-toggle="modal"><i class="fa fa-fw fa-file-excel-o"></i> Import Excel</a>
                    </div>
                    <div th:if="${!items.isEmpty()}" class="pull-right" >
                        <a th:href="@{'/artifacts/metadata/' + ${artifact.id}}"><i class="fa fa-fw fa-list" style="color: #00aced"></i> Metadata</a>
                        <a th:href="@{'/pdf/download/' + ${artifact.id}}"><i class="fa fa-fw fa-file-pdf-o" style="color: lightcoral"></i> PDF</a>
                        <a th:href="@{'/excel/download/' + ${artifact.id}}"><i class="fa fa-fw fa-file-excel-o" style="color: #4cae4c"></i> Excel</a>
                    </div>
                </div>
            </div>

            <div th:if="${items.isEmpty()}">
                
                <div id="artifactEmpty" class="row">
                    <div class="col-lg-6 col-lg-offset-3" style="margin-top: 100px;">

                        <div class="text-center" style="color: #c0c0c0;">
                            <i class="fa fa-gears fa-5x"></i>
                        </div>
                        <div class="text-center" style="color: #c0c0c0;">
                            <h3>This document is empty.</h3>
                            <br/>
                            <h5>User menus above to create or import document contents.</h5>
                        </div>
                    </div>
                </div>

                <div id="artifactLoading" class="row hidden">
                    <div class="col-lg-6 col-lg-offset-3" style="margin-top: 100px;">

                        <div class="text-center" style="color: #c0c0c0;">
                            <i class="fa fa-spinner fa-4x fa-spin"></i>
                        </div>
                        <div class="text-center" style="color: #c0c0c0;">
                            <h3>Importing from Excel...</h3>
                        </div>
                    </div>
                </div>

            </div>
            
            <div th:if="${q != null}" id="isSearchPage" class="hidden">
                <span th:text="${q}" id="searchQueryString"></span>
            </div>

            <div th:if="${!items.isEmpty()}" class="panel-body">
                
                <div class="row" style="border-bottom: 1px solid #c0c0c0;">
                    <div class="col-md-4" style="padding-top: 22px;">
                        <h4 th:utext="'Page &lt;strong&gt;' + ${currentPage} + '&lt;/strong&gt; of &lt;strong&gt;' + ${pageCount} + '&lt;/strong&gt;'">Page 1 of 26</h4>
                    </div>
                    <div class="col-md-8" style="padding-right: 25px;">
                        <span class="pull-right" style="margin-right: -25px;">
                            <ul class="pagination pagination-sm">
                                <li th:class="${currentPage == 1} ? 'disabled' : ''">
                                    <span th:if="${currentPage == 1}">First</span>
                                    <a th:if="${currentPage != 1}" th:href="@{'/artifacts/' + ${artifact.id} + '?size=' + ${size} + '&amp;page=1'}">First</a>
                                </li>
                                <li th:class="${currentPage != 1} ? '' : 'disabled'">
                                    <span th:if="${currentPage == 1}">«</span>
                                    <a th:if="${currentPage != 1}" th:href="@{'/artifacts/' + ${artifact.id} + '?size=' + ${size} + '&amp;page=' + ${currentPage - 1}}"><span>«</span></a>
                                </li>

                                <li th:each="page : ${pageList}" th:class="${page == currentPage ? 'active' : ''}">
                                    <span th:if="${page == currentPage}" th:text="${page}">1</span>
                                    <a th:if="${page != currentPage}" th:href="@{'/artifacts/' + ${artifact.id} + '?size=' + ${size} + '&amp;page=' + ${page}}" th:text="${page}">1</a>
                                </li>

                                <li th:if="${pageCount > lastDisplayed}" class="disabled"><span>...</span></li>
                                
                                <li th:class="${currentPage == pageCount} ? 'disabled' : ''">
                                    <span th:if="${currentPage == pageCount}">»</span>
                                    <a th:if="${currentPage != pageCount}" th:href="@{'/artifacts/' + ${artifact.id} + '?size=' + ${size} + '&amp;page=' + ${currentPage + 1}}">»</a>
                                </li>
                                <li th:class="${currentPage == pageCount} ? 'disabled' : ''">
                                    <span th:if="${currentPage == pageCount}">Last</span>
                                    <a th:if="${currentPage != pageCount}" th:href="@{'/artifacts/' + ${artifact.id} + '?size=' + ${size} + '&amp;page=' + ${pageCount}}">Last</a>
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
                
                <div th:each="item : ${items}" 
                     th:attr="id=${item.sysId}" 
                     th:classappend="${item.itemClass == 'HEADER'} ? 'row item-header-' + ${item.itemLevel} : 'row item-level-' + ${item.itemLevel} + ' ' + ${#strings.toLowerCase(item.itemClass)}">
                    <div th:attr="id='value-container-'+${item.sysId}" th:class="${item.itemClass} == 'REQUIREMENT' ? 'col-xs-9 requirement-text' : 'col-xs-11'">
                        <span th:attr="id='value-'+${item.sysId}"  th:utext="${#strings.replace(item.itemValue, newLineChar, '&lt;br /&gt;')}">Item</span>
                    </div>
                    <div th:attr="id='ident-container-'+${item.sysId}" th:if="${item.itemClass} == 'REQUIREMENT'" class="col-xs-2 requirement-identifier">
                        <span th:attr="id='ident-'+${item.sysId}" th:text="${item.identifier}">Identifier</span>
                    </div>
                    <div th:attr="id='menu-container-'+${item.sysId}" class="btn-group pull-right normal-text">

                        <!-- Item Menu <ul> Container -->
                        <ul class="item-toolbar-ul dropup">  

                            <li th:attr="id=${'comment-icon-' + item.sysId}" class="dropdown item-toolbar-li" th:if="${item.commentCount} > 0">
                                <a href="javascript:void(0);" th:onclick="'javascript:BootboxDisplayComments(\'' + ${item.id} + '\');'">
                                    <i class="fa fa-comments icon-comment"></i> 
                                </a>
                            </li>

                            <li th:attr="id=${'link-icon-' + item.sysId}" class="dropdown item-toolbar-li" th:if="${item.LinkCount} > 0">
                                <a href="javascript:void(0);" th:onclick="'javascript:BootboxDisplayLinks(\'' + ${item.id} + '\');'">
                                    <i th:classappend="${item.linkChanged} ? 'fa fa-link icon-link-changed' : 'fa fa-link icon-link'"></i> 
                                </a>
                            </li>

                            <li th:attr="id=${'menu-icon-' + item.sysId}" class="dropdown item-toolbar-li">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                   <i class="fa fa-bars" style="color: #00aced; font-size: 18px;"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li>
                                        <a href="javascript:void(0);" th:onclick="'javascript:BootboxViewItemDetails(\'' + ${item.id} + '\');'"><i class="fa fa-fw fa-file-text"></i> View item details</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" th:onclick="'javascript:BootboxCreateItem(\'' + ${item.id} + '\', \'BELOW\');'"><i class="fa fa-fw fa-level-down fa-rotate-90"></i> Add item below</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" th:onclick="'javascript:BootboxCreateItem(\'' + ${item.id} + '\', \'ABOVE\');'"><i class="fa fa-fw fa-level-up fa-rotate-270"></i> Add item above</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" th:onclick="'javascript:moveItemUp(\'' + ${item.id} + '\');'"><i class="fa fa-fw fa-arrow-circle-up"></i> Move item up</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" th:onclick="'javascript:moveItemDown(\'' + ${item.id} + '\');'"><i class="fa fa-fw fa-arrow-circle-down"></i> Move item down</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" th:onclick="'javascript:BootboxEditItem(\'' + ${item.id} + '\');'"><i class="fa fa-fw fa-pencil"></i> Edit item</a>
                                    </li>
                                    <li th:if="${item.itemClass} == 'REQUIREMENT'" class="divider"></li>
                                    <li th:if="${item.itemClass} == 'REQUIREMENT'">
                                        <a href="javascript:void(0);" th:onclick="'javascript:BootboxCreateLink(\'' + ${item.id} + '\',\'' + ${item.identifier} + '\',\'' + ${artifact.artifactProject.id} + '\');'"><i class="fa fa-fw fa-link"></i> Create item link</a>
                                    </li>
                                    <li th:if="${item.itemClass} == 'REQUIREMENT'">
                                        <a href="javascript:void(0);" th:onclick="'javascript:BootboxAddComment(\'' + ${item.id} + '\');'"><i class="fa fa-fw fa-comments"></i> Add item comment</a>
                                    </li>
                                    <li th:if="${item.itemClass} == 'REQUIREMENT'">
                                        <a href="#editItemModal" data-toggle="modal" th:attr="data-item-id=${item.id}"><i class="fa fa-fw fa-tasks"></i> Item attributes</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="javascript:void(0);" th:onclick="'javascript:BootboxDeleteItem(\'' + ${item.id} + '\');'"><i class="fa fa-fw fa-trash"></i> Delete item</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>

                    </div>
                </div>

            </div>

            <!-- Import from Excel modal ############################################ -->
            <div class="modal fade" id="importExcelModal" tabindex="-1" 
                 role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                
                <div class="modal-dialog">
                    <div class="modal-content">
                        
                        <div class="modal-header">
                            
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                                <span class="sr-only">Close</span>
                            </button>
                            
                            <h3 class="modal-title" id="lineModalLabel">Import from Excel file</h3>
                            
                        </div>
                        
                        <div class="modal-body">

                            <!-- content goes here -->
                            <form id="importExcel" action="/excel/import" 
                                  method="post" 
                                  enctype="multipart/form-data">

                                <div class="form-group">
                                    <input type="file" 
                                           class="form-control" 
                                           id="file" name="file" 
                                           placeholder="Select Excel file" />
                                    
                                </div>

                                <input type="hidden" 
                                       name="artifactId" 
                                       id="artifactId" 
                                       th:value="${artifact.id}" />

                            </form>

                        </div>

                        <div class="modal-footer">
                            <div class="btn-group" role="group" aria-label="group button">
                                
                                <div class="btn-group" role="group">
                                    <button type="button" 
                                            class="btn btn-danger btn-success btn-fixed-width-100" 
                                            data-dismiss="modal"  
                                            role="button">Cancel</button>
                                </div>

                                <div class="btn-group" role="group">
                                    <button type="button" id="importFromFile" 
                                            class="btn btn-success btn-hover-green btn-success btn-fixed-width-100" 
                                            onclick="document.getElementById('importExcel').submit();javascript:FileUploadLoadding();" data-dismiss="modal" 
                                            role="button">Import</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </body>

    <th:block layout:fragment="scripts"></th:block>

</html>