<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layouts/main">

    <head>
        <title>Zidingo RMS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>

    <body>

        <div layout:fragment="content">

            <div class="col-lg-12" style="padding-left: 0px;">
                <h1 class="page-header">
                    <span  th:text="${artifact.artifactLongName}">Artifact</span>
                </h1>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <h4 th:text="${artifact.identifier}">Project name</h4>
                    <h4 th:text="${artifact.artifactProject.projectName}">Project name</h4>
                </div>
                <div class="col-md-6" style="padding-right: 20px;">
                    <div class="pull-right" >
                        <a href="#createItemModal" data-toggle="modal" data-ref-item-idx="0" data-ref-pos="ABOVE"><i class="fa fa-fw fa-pencil"></i> Edit basic properties</a> |
                        <a href="/artifacts/metadata/{id}"><i class="fa fa-fw fa-book"></i> Manage status</a> |
                        <a th:href="'/artifacts/' + ${artifact.id}" data-toggle="modal" data-item-id=""><i class="fa fa-fw fa-file-text"></i> Document content</a>
                    </div>
                </div>
            </div>
            
            <div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="30%">Property Name</th>
                            <th width="50%">Property Value</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td th:text="${artifact.artifactName}">MEDIUM</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Long Name</td>
                            <td th:text="${artifact.artifactLongName}">MEDIUM</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Identifier</td>
                            <td th:text="${artifact.identifier}">MEDIUM</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Document Type</td>
                            <td th:text="${artifact.artifactType.artifactTypeLongName} + ' [' + ${artifact.artifactType.artifactTypeName} + ']'">MEDIUM</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td th:text="${artifact.artifactDescription}">MEDIUM</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Author</td>
                            <td>Luke Sibisi</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Created</td>
                            <td th:text="${#dates.format(artifact.creationDate, 'yyyy-MM-dd')}">MEDIUM</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Last Modified</td>
                            <td th:text="${#dates.format(artifact.modifiedDate, 'yyyy-MM-dd')}">MEDIUM</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Project</td>
                            <td th:text="${artifact.artifactProject.projectName}">MEDIUM</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Folder</td>
                            <td th:text="${artifact.artifactFolder.folderName}">MEDIUM</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Item Identifier Format</td>
                            <td th:text="${itemident} + ' - #####'">MEDIUM</td>
                            <td>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a class="btn btn-primary btn-sm btn-block" data-toggle="collapse" href="#identFormatForm">Edit Format</a>
                                    </div>
                                </div>
                                <div class="collapse" id="identFormatForm">
                                    <form>
                                        <div class="input-group input-group-sm" style="margin: 5px 0;">
                                            <input type="text" class="form-control" th:attr="placeholder=${itemident}" aria-describedby="basic-addon2" />
                                            <span class="input-group-addon" id="basic-addon2">- #####</span>
                                        </div>
                                        <div class="btn-group btn-group-justified btn-group-sm" role="group">
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#identFormatForm" role="button">Cancel</button>
                                            </div>
                                            <div class="btn-group" role="group">
                                                <button type="button" id="createItemSaveBtn" class="btn btn-success btn-hover-green">Save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Identifier Numeric Length</td>
                            <td th:text="${templateDigits} + ' digits (0 padded)'">Digits</td>
                            <td>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a class="btn btn-primary btn-sm btn-block" data-toggle="collapse" href="#numericLengthForm">Edit Length</a>
                                    </div>
                                </div>
                                <div class="collapse" id="numericLengthForm">
                                    <form>
                                        <div class="input-group spinner" style="margin: 5px 0;">
                                            <input type="text" class="form-control" aria-describedby="basic-addon2" th:value="${templateDigits}" min="2" max="5" />
                                            <div class="input-group-btn-vertical">
                                                <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                                <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                            </div>
                                        </div>
                                        <div class="btn-group btn-group-justified btn-group-sm" role="group">
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#numericLengthForm" role="button">Cancel</button>
                                            </div>
                                            <div class="btn-group" role="group">
                                                <button type="button" id="createItemSaveBtn" class="btn btn-success btn-hover-green">Save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>Requirement Identifier Formats</td>
                            <td>
                                <div th:each="reqId : ${requirementIds}">
                                    <p th:text="${reqId.variableValue}">Identifier format</p>
                                </div>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="#manageIdentFormatsModal" data-toggle="modal" class="btn btn-primary btn-sm btn-block">Edit List</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Requirement ID Numeric Length</td>
                            <td th:text="${reqIdDigits} + ' digits (0 padded)'">Digits</td>
                            <td>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a class="btn btn-primary btn-sm btn-block" data-toggle="collapse" href="#reqNumLengthForm">Edit Length</a>
                                    </div>
                                </div>
                                <div class="collapse" id="reqNumLengthForm">
                                    <form>
                                        <div class="input-group spinner" style="margin: 5px 0;">
                                            <input type="text" class="form-control" aria-describedby="basic-addon2" th:value="${reqIdDigits}" min="2" max="5" />
                                            <div class="input-group-btn-vertical">
                                                <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                                <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                            </div>
                                        </div>
                                        <div class="btn-group btn-group-justified btn-group-sm" role="group">
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#reqNumLengthForm" role="button">Cancel</button>
                                            </div>
                                            <div class="btn-group" role="group">
                                                <button type="button" id="createItemSaveBtn" class="btn btn-success btn-hover-green">Save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <!-- Manage Identifier Formats modal ############################################ -->
            <div class="modal fade" id="manageIdentFormatsModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h3 class="modal-title" id="lineModalLabel">Identifier Formats</h3>
                        </div>
                        <div class="modal-body">

                            <!-- content goes here -->
                            <form id="createItem" action="/api/artifacts/saveidformats" method="post">

                                <input type="hidden" name="artifactId" id="artifactId" th:value="${artifact.id}" />
                                <input type="hidden" name="createId" id="createId" value="" />
                                <input type="hidden" name="createSortIndex" id="createSortIndex" value="" />

                                <div style="padding: 1px; margin-bottom: 12px;">
                                <label for="createItemLevel">Current templates</label>
                                    <div id="format-container" style="border: 1px solid #E3E3E3; padding: 12px;">
                                        
                                        <!-- List of Formats -->

                                    </div>
                                </div>

                                <div class="row" id="createRequirementRow">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="identFormatAdd">Add new</label>
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control btn-sm btn-block" id="identFormatAdd" name="identFormatAdd" />
                                                </div>
                                                <div class="col-sm-4">
                                                    <button type="button" class="btn btn-default btn-block" onclick="addIdentFormatToMultipSelect()">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>
                        <div class="modal-footer">
                            <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"  role="button">Cancel</button>
                                </div>
                                <div class="btn-group btn-delete hidden" role="group">
                                    <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal"  role="button">Delete</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" id="createItemSaveBtn" class="btn btn-success btn-hover-green" role="button">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </body>

</html>