<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/layouts/main">

    <head>
        <meta charset="UTF-8" />
        <title>User Profile - User</title>
    </head>
    <body>
        <div layout:fragment="content">

            <div class="col-lg-12">
                <h1 class="page-header">
                    My Profile: <small th:text="${user.email}">My Profile</small>
                </h1>
            </div>

            <div id="content" class="row" style="margin: 40px 4px;">

                <div class="col-md-4">

                    <img src="/images/profile.png" class="img-rounded img-responsive" />


                </div>
                <div class="col-md-8">

                    <div class="alert alert-info">
                        <h2 style="margin-top: -5px;">My Bio</h2>
                        <h4>Bootstrap user profile template </h4>
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                            3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. 
                        </p>
                    </div>

                    <div >
                        <a href="#" class="btn btn-social btn-facebook">
                            <i class="fa fa-facebook"></i>&nbsp; Facebook
                        </a>
                        <a href="#" class="btn btn-social btn-google">
                            <i class="fa fa-google-plus"></i>&nbsp; Google
                        </a>
                        <a href="#" class="btn btn-social btn-twitter">
                            <i class="fa fa-twitter"></i>&nbsp; Twitter 
                        </a>
                        <a href="#" class="btn btn-social btn-linkedin">
                            <i class="fa fa-linkedin"></i>&nbsp; Linkedin 
                        </a>
                    </div>

                </div>

            </div>

            <div id="content" class="row" style="margin: 40px 4px;">

                <div class="col-md-4">

                    <h3 style="margin-bottom: 20px;">Update Personal Details</h3>
                    <label>Email</label>
                    <input type="text" class="form-control" th:value="${user.email}" disabled="true" />
                    <label>First Name</label>
                    <input type="text" class="form-control" placeholder="First Name" />
                    <label>Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" />
                    <a href="#" class="btn btn-success" style="margin-top: 15px;">Update Details</a>

                </div>

                <div class="col-md-4">

                    <h3 style="margin-bottom: 20px;">Change Password</h3>
                    <label>Enter Old Password</label>
                    <input type="password" class="form-control" placeholder="Current password" />
                    <label>Enter New Password</label>
                    <input type="password" class="form-control" placeholder="New password" />
                    <label>Confirm New Password</label>
                    <input type="password" class="form-control" placeholder="Confirm new password" />
                    <a href="#" class="btn btn-warning" style="margin-top: 15px;">Change Password</a>
                </div>
            </div>

        </div>
    </body>
</html>
