<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/main">

    <head>
        <meta charset="UTF-8" />
        <title>User Profile - Administration</title>
    </head>
    <body>
        <div layout:fragment="content">

            <div sec:authorize="isAuthenticated()" class="row">
                <div class="col-lg-6 col-lg-offset-3" style="margin-top: 60px;">

                    <h1 class="page-header" style="color:red;">
                        User creation error
                    </h1>

                    <p style="color:red;" th:text="${exception.message}">Exception</p>

                    <div style="margin-top: 50px;">

                        <div class="form-group" style="margin-left: -15px;">
                            <div class="col-sm-12">
                                <a href="#" onClick="history.go(-1);return true;" class="btn btn-md btn-success pull-left">
                                    <i class="fa fa-fw fa-backward fa-lg"></i> Go back
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
