<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/layouts/main">

    <head>
        <title>Application Users</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>

        <div layout:fragment="content">
     
            <div class="col-lg-12">
                <h1 class="page-header">
                    Registered Users <small>All Users</small>
                </h1>
            </div>
       
            <div id="details" th:if="${!users.isEmpty()}" class="row" style="margin-top: 50px;">
                <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-info">
                        
                        <div class="panel-heading" style="min-height: 55px;">
                            <div>
                                <a href="/admin/users/new" class="btn btn-sm btn-success pull-left">
                                    <i class="fa fa-fw fa-plus"></i> Add New
                                </a>
                            </div>
                            <div class="pull-right">
                                <form class="form-inline pull-right">
                                    <div class="form-group">
                                        <input type="search" placeholder="Enter search string" class="form-control btn-sm" style="height: 32px;" />
                                    </div>
                                    <button class="btn btn-sm btn-primary btn-fixed-width-100">Search</button>
                                </form>
                            </div>
                        </div>
                        
                        <div class="panel-body">
                            
                            <table class="table table-user-information">
                                <thead>
                                    <tr>
                                        <th style="width: 25%;">Name</th>
                                        <th>Title</th>
                                        <th style="width: 30%;">Email</th>
                                        <th style="text-align: center; width: 100px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="user : ${users}">
                                        <td th:text="${user.firstName} + ' ' + ${user.lastName != null ? user.lastName : ''}">Name ...</td>
                                        <td th:text="${user.mainRole != null ? user.mainRole : ''}">Email ...</td>
                                        <td th:text="${user.email}">Email ...</td>
                                        <td style="text-align: center;">
                                            <a th:href="@{/admin/users/} + ${user.uuId}">
                                                <i class="fa fa-fw fa-user"></i> Profile
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>
                        
                        <div class="panel-footer" style="padding-bottom: 20px;">
                            <span th:utext="'&lt;strong&gt;' + ${userCount} + '&lt;/strong&gt; Users, Page &lt;strong&gt;' + ${page} + '&lt;/strong&gt; of &lt;strong&gt;' + ${count} + '&lt;/strong&gt;'">Page # of ##</span>     
                            <span class="pull-right">
                                <ul class="pagination pagination-sm" style="margin-top: 0px;">
                                    <li th:class="${page == 1} ? 'disabled' : ''">
                                        <span th:if="${page == 1}">First</span>
                                        <a th:if="${page != 1}" th:href="@{'/admin/users?s=' + ${size} + '&amp;p=1'}">First</a>
                                    </li>
                                    <li th:class="${page != 1} ? '' : 'disabled'">
                                        <span th:if="${page == 1}">«</span>
                                        <a th:if="${page != 1}" th:href="@{'/admin/users?s=' + ${size} + '&amp;p=' + ${page - 1}}"><span>«</span></a>
                                    </li>

                                    <li th:each="p : ${list}" th:class="${p == page ? 'active' : ''}">
                                        <span th:if="${p == page}" th:text="${page}">1</span>
                                        <a th:if="${p != page}" th:href="@{'/admin/users?s=' + ${size} + '&amp;p=' + ${p}}" th:text="${p}">1</a>
                                    </li>

                                    <li th:if="${count > last}" class="disabled"><span>...</span></li>

                                    <li th:class="${page == count} ? 'disabled' : ''">
                                        <span th:if="${page == count}">»</span>
                                        <a th:if="${page != count}" th:href="@{'/admin/users?s=' + ${size} + '&amp;p=' + ${page + 1}}">»</a>
                                    </li>
                                    <li th:class="${page == count} ? 'disabled' : ''">
                                        <span th:if="${page == count}">Last</span>
                                        <a th:if="${page != count}" th:href="@{'/admin/users?s=' + ${size} + '&amp;p=' + ${count}}">Last</a>
                                    </li>
                                </ul>
                            </span>
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>

    </body>
</html>
