<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/layouts/main">

    <head>
        <title>Application Users</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>

        <div layout:fragment="content">

            <div class="col-lg-12">
                <h1 class="page-header">
                    Registered Users <small>All Users</small>

                </h1>
            </div>

            <div class="col-lg-12" style="margin-bottom: 20px;">
                <a href="/admin/users/new" class="btn btn-sm btn-success pull-left" style="margin-left: -15px;">
                    <i class="fa fa-fw fa-plus"></i> Add User
                </a>
                <form class="form-inline pull-right" style="margin-right: -15px;">
                    <div class="form-group">
                        <input type="search" placeholder="Enter search string" class="form-control btn-sm" />
                    </div>
                    <button class="btn btn-sm btn-primary">Search</button>
                </form>
            </div>

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="text-align: center; width: 60px;">Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th width="140"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}" style="text-align: center;">1</td>
                        <td th:text="${user.userName}">Name ...</td>
                        <td th:text="${user.email}">Email ...</td>
                        <td style="text-align: center;">
                            <div class="btn-group">
                                <li class="btn btn-primary btn-sm"><i class="fa fa-wrench fa-fw"></i> Actions</li>
                                <li class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">
                                    <span class="fa fa-caret-down" title="User actions menu"></span>
                                </li>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a th:href="@{/admin/users/} + ${user.uuId}" style="padding-left:3px;">
                                            <span class="fa fa-pencil fa-fw text-primary"></span> Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/admin/users/delete/} + ${user.uuId}" style="padding-left:3px;">
                                            <span class="fa fa-trash fa-fw text-danger"></span> Delete
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/admin/users/lockout/} + ${user.uuId}" style="padding-left:3px;">
                                            <span class="fa fa-ban fa-fw text-danger"></span> Lock out
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/admin/users/enable/} + ${user.uuId}" style="padding-left:3px;">
                                            <span class="fa fa-check-square fa-fw text-success"></span> Enable
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </body>
</html>
