<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/layouts/main">

    <head>
        <title>Zidingo RMS Add User</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>

        <div layout:fragment="content">

            <div sec:authorize="isAuthenticated()" class="row">
                <div class="col-lg-4 col-lg-offset-3" style="margin-top: 60px;">

                    <h2 class="form-signin-heading">Create new user.</h2>

                    <form name="user" th:object="${user}" th:action="@{/admin/users}" method="post" class="form-signin">

                        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">    
                            Please correct the errors on the form.
                        </div>

                        <input type="hidden" th:field="${user.id}"/>

                        <div th:class="${#fields.hasErrors('email')} ? 'form-group has-error' : 'form-group'" style="margin: 20px 0 10px 0;">
                            <label for="email" class="sr-only">Email</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></div>
                                <input class="form-control" type="text" id="email" th:field="${user.email}" th:errorclass="has-error" placeholder="Email address" />
                            </div>
                            <span class="help-block">
                                <u class="list-unstyled">
                                    <li style="font-size: 12px;" th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
                                </u>
                            </span>
                        </div>

                        <div th:class="${#fields.hasErrors('password')} ? 'form-group has-error' : 'form-group'" style="margin: 20px 0 20px 0;">
                            <label for="password" class="sr-only">Password</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-fw fa-key"></i></div>
                                <input type="password" id="password" th:field="${user.password}" class="form-control" placeholder="Password" />
                            </div>
                            <span class="help-block">
                                <u class="list-unstyled">
                                    <li style="font-size: 12px;" th:each="err : ${#fields.errors('password')}" th:text="${err}"></li>
                                </u>
                            </span>
                        </div>

                        <div th:class="${#fields.hasErrors('confirmPassword')} ? 'form-group has-error' : 'form-group'" style="margin: 10px 0 20px 0;">
                            <label for="confirmPassword" class="sr-only">Confirm Password</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-fw fa-check"></i></div>
                                <input type="password" id="confirmPassword" th:field="${user.confirmPassword}" class="form-control" placeholder="Confirm password" />
                            </div>
                            <span class="help-block">
                                <u class="list-unstyled">
                                    <li style="font-size: 12px;" th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></li>
                                </u>
                            </span>
                        </div>

                        <button class="btn btn-sm btn-success col-sm-3" type="submit">Create</button>

                    </form>

                </div>

            </div>

        </div>

    </body>

    <th:block layout:fragment="scripts"></th:block>

</html>