<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/layouts/main">

    <head>
        <meta charset="UTF-8" />
        <title>User Profile - Administration</title>
    </head>
    <body>
        <div layout:fragment="content">
            
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-8 col-md-offset-2">
                    <span class="pull-right"><a href="/admin/users">Return to list</a></span>
                </div>
            </div>
            
            <div class="row" style="margin-top: 10px;">
                
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <span class="panel-title" th:text="${profile.firstName} + '\'s Profile'" style="font-size: 22px;font-weight: bold;">User Name</span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 " align="center">
                                    <img src="/images/profile.png" class="img-rounded img-responsive" />
                                </div>
                                <div class=" col-md-9 col-lg-9 ">
                                    <table class="table table-user-information">
                                        <tbody>
                                            <tr th:if="${profile.lastName != null}">
                                                <td><strong>Full name:</strong></td>
                                                <td th:text="${profile.firstName} + ' ' + ${profile.lastName}">Full Name</td>
                                            </tr>
                                            <tr th:if="${profile.lastName == null}">
                                                <td><strong>Full name:</strong></td>
                                                <td th:text="${profile.firstName}">Full Name</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Projects:</strong></td>
                                                <td>Qatar Foundation PMS</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Title:</strong></td>
                                                <td th:text="${profile.mainRole}">Systems Engineer</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Location:</strong></td>
                                                <td th:text="${profile.address != null ? profile.address : ''} + ' ' + ${profile.state != null ? profile.state : ''} + ' ' + ${profile.city != null ? profile.city : '' } + ' ' + ${profile.country != null ? profile.country : ''}">PMS Office, Education City, Doha, Qatar</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Email:</strong></td>
                                                <td th:text="${profile.email}">email@example.com</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Login ID:</strong></td>
                                                <td th:text="${profile.userName}">email@example.com</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Telephone:</strong></td>
                                                <td th:text="${profile.phoneNumber}">+974 3332 7500</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Mobile:</strong></td>
                                                <td th:text="${profile.mobileNumber}">+974 3332 7500</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Roles:</strong></td>
                                                <td>
                                                    <div id="userRolesTableCell" style="padding-top: 5px;">
                                                        <span th:each="role : ${profile.userRoles}">
                                                            <p th:text="${role.roleDisplayName}" style="line-height: 90%">Role</p>
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
<!--                                            <tr>
                                                <td><strong>Claims:</strong></td>
                                                <td>
                                                    <div id="userClaimsTableCell" style="padding-top: 5px;">
                                                        <span>
                                                            <p style="line-height: 90%">13 claims</p>
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel-footer">
                            <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-success">
                                <i class="glyphicon glyphicon-envelope"></i>
                            </a>
                            <span class="pull-right">
                                <a href="javascript:void(0);" th:onclick="'javascript:BootboxAdminUserDetailsUpdate(\'' + ${profile.uuId} + '\', \'' + ${profile.firstName} + '\');'" data-original-title="Edit this user" data-toggle="modal tooltip" type="button" class="btn btn-sm btn-primary">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a href="javascript:void(0);" th:onclick="'javascript:BootboxAdminUserRolesManage(\'' + ${profile.uuId} + '\', \'' + ${profile.firstName} + '\');'" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary">
                                    <i class="fa fa-users"></i>
                                </a>
                                <a th:href="@{'/admin/users/claims/' + ${profile.uuId}}"  data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary">
                                    <i class="fa fa-legal"></i>
                                </a>
                                <a href="javascript:void(0);" th:onclick="'javascript:BootboxAdminUserPwdReset(\'' + ${profile.uuId} + '\', \'' + ${profile.firstName} + '\');'" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning">
                                    <i class="fa fa-key"></i>
                                </a>
                                <a href="javascript:void(0);" th:onclick="'javascript:BootboxAdminUserDelete(\'' + ${profile.uuId} + '\', \'' + ${profile.firstName} + '\');'" data-original-title="Remove this user" type="button" class="btn btn-sm btn-danger">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </span>
                        </div>
                        
                    </div>
                </div>
            </div>
 
        </div>
    </body>
</html>
