/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09 Feb 2017, 11:27:42 AM
    Author     : LukeS
*/

h2 {
    color: red;
    text-align: left;
    margin-top: 8px;
}

h4 {
    color: red;
    text-align: left;
    margin-top: 8px;
}

.details {
    margin-bottom: 15px;
}