!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layouts/main">

    <head>
        <title>Zidingo RMS - Task Details</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>

    <body>

        <div layout:fragment="content">
            
            <div th:if="${task != null}" class="col-lg-12">
                <h1 class="page-header" th:text="'Task #:' + ${task.id} + ' Details'">Task Details</h1>
            </div>
            
            <div th:if="${task != null}" class="panel-body">
                <div class="row">
                    
                </div>
            </div>
            
            <div th:if="${task != null}" class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <span class="panel-title" th:text="${task.taskItem.identifier}" style="font-size: 22px;font-weight: bold;">Identifier</span>
                            <div class="pull-right">
                                <button th:if="${#strings.replace(task.taskAction, '_REQ', '') == 'CONFIRM'}" 
                                        class="btn btn-sm btn-success btn-fixed-width-100"
                                        th:onclick="'javascript:BootboxConfirmItem(\'' + ${task.taskItem.id} + '\');'">
                                    Confirm
                                </button>
                                <button th:if="${#strings.replace(task.taskAction, '_REQ', '') == 'ACKNOWLEDGE'}" 
                                        class="btn btn-sm btn-success btn-fixed-width-100"
                                        th:onclick="'javascript:BootboxAcknowledgeItem(\'' + ${task.taskItem.id} + '\');'">
                                    Acknowledge
                                </button>
                                <button class="btn btn-sm btn-warning btn-fixed-width-100"
                                        th:onclick="'javascript:BootboxAddComment(\'' + ${task.taskItem.id} + '\');'">
                                    Comment
                                </button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr th:if="${task.taskAction != null}">
                                        <td style="width:20%"><strong>Request Type:</strong></td>
                                        <td th:text="${#strings.replace(task.taskAction, '_REQ', '')}">Request Type</td>
                                    </tr>
                                    <tr th:if="${task.taskItem.itemValue != null}">
                                        <td style="width:20%"><strong>Requirement:</strong></td>
                                        <td>
                                            <div class="row">
                                                <div th:text="${task.taskItem.itemValue}" class="col-md-11">Requirement details</div>
                                                <div class="col-md-1">
                                                    <a th:href="@{'/artifact/search/result/' + ${task.taskItem.artifact.id} + '?item=' + ${task.taskItem.id} + '&amp;size=25&amp;q=' + ${task.taskItem.identifier}}">
                                                        <span class="pull-right text-primary"><i class="fa fa-fw fa-2x fa-file-text"></i></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr th:if="${task.taskItem.itemStatus != null}">
                                        <td style="width:20%"><strong>Requirement Status:</strong></td>
                                        <td th:text="${task.taskItem.itemStatus}">Requirement status</td>
                                    </tr>
                                    <tr th:if="${verification != null}">
                                        <td style="width:20%"><strong>V and V Method:</strong></td>
                                        <td>
                                            <a th:href="@{'javascript:void(0);'}" th:onclick="'javascript:BootboxAlertTitle(\'' + ${verification.method.methodName} + '\', \'' + ${verification.method.methodDescription} + '\');'">
                                                <span th:text="${verification.method.methodName}">V and V Method</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr th:if="${verification != null}">
                                        <td style="width:20%"><strong>V and V Reference</strong></td>
                                        <td th:utext="${#strings.replace(verification.vvReferences, newLineChar, '&lt;br /&gt;')}">V and V Reference</td>
                                    </tr>
                                    <tr th:if="${!comments.isEmpty()}">
                                        <td style="width:20%"><strong>Comments:</strong></td>
                                        <td>
                                            <div th:each="comment : ${comments}" style="padding: 5px 0; border-bottom: 1px solid #eee;">
                                                <span style="font-weight: bold;" th:text="${comment.author.firstName} + ' ' + ${comment.author.lastName}">Author</span>
                                                <div th:utext="${#strings.replace(comment.comment, newLineChar, '&lt;br /&gt;')}">Comment</div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr th:if="${comments.isEmpty()}">
                                        <td style="width:20%"><strong>Comments:</strong></td>
                                        <td>No comments found.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
        
    </body>

    <th:block layout:fragment="scripts"></th:block>

</html>