<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layouts/main">

    <head>
        <title>Zidingo RMS - Project Categories</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>

    <body>

        <div layout:fragment="content">

            <div class="col-lg-12" style="padding-left: 0px;">
                <h1 class="page-header">
                    <span  th:text="${project.projectName} + ' Project'">Project</span>
                </h1>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h4 th:text="${company.companyName}">Company name</h4>
                </div>
                <div class="col-md-6" style="padding-right: 20px;">
                    <div class="pull-right" >
                        <a th:href="'/projects/' + ${project.uuId}"><i class="fa fa-fw fa-info-circle"></i> Project Home Folder</a>
                    </div>
                </div>
            </div>
            
            <div id="categories" th:if="${!categories.isEmpty()}" class="row" style="margin-top: 25px;">
                
                <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-info">
                        
                        <div class="panel-heading">
                            <span class="panel-title" th:text="${project.projectShortName} + ' - Categories/Disciplines'" style="font-size: 22px;font-weight: bold;">Project Name</span>
                            <span class="pull-right">
                                <a href="javascript:void(0);" th:onclick="'javascript:BootboxProjectCategories(\'' + ${project.id} + '\');'" title="Update details" type="button" class="btn btn-fixed-width-100 btn-sm btn-success tip-left">
                                    <i class="glyphicon glyphicon-plus"></i> Add New
                                </a>
                            </span>
                        </div>
                        
                        <div class="panel-body">
                            <table class="table table-user-information">
                                <thead>
                                    <tr>
                                        <th>Category/Discipline</th>
                                        <th style="width: 80px;">Code</th>
                                        <th style="width: 40%;">Category/Discipline Leader</th>
                                        <th style="width: 40px;">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="category : ${categories}">
                                        <td th:text="${category.categoryName}">Category/Discipline</td>
                                        <td th:text="${category.categoryCode}" style="width: 80px;">Code</td>
                                        <td>
                                            <a th:href="@{/admin/users/} + ${category.lead.uuId}">
                                                <span th:text="${category.lead.firstName} + ' ' + ${category.lead.lastName}">Category/Discipline Leader</span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" th:onclick="'javascript:ItemCategoryDelete(\'' + ${category.id} + '\');'" title="Delete" type="button" class="btn btn-sm btn-danger">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="panel-footer" style="padding-bottom: 20px;">
                            <span th:utext="'&lt;strong&gt;' + ${itemCount} + '&lt;/strong&gt; Categories, Page &lt;strong&gt;' + ${page} + '&lt;/strong&gt; of &lt;strong&gt;' + ${count} + '&lt;/strong&gt;'">Page # of ##</span>     
                            <span class="pull-right">
                                <ul class="pagination pagination-sm" style="margin-top: 0px;">
                                    <li th:class="${page == 1} ? 'disabled' : ''">
                                        <span th:if="${page == 1}">First</span>
                                        <a th:if="${page != 1}" th:href="@{'/projects/categories/' + ${project.uuId} + '?s=' + ${size} + '&amp;p=1'}">First</a>
                                    </li>
                                    <li th:class="${page != 1} ? '' : 'disabled'">
                                        <span th:if="${page == 1}">«</span>
                                        <a th:if="${page != 1}" th:href="@{'/projects/categories/' + ${project.uuId} + '?s=' + ${size} + '&amp;p=' + ${page - 1}}"><span>«</span></a>
                                    </li>

                                    <li th:each="p : ${list}" th:class="${p == page ? 'active' : ''}">
                                        <span th:if="${p == page}" th:text="${page}">1</span>
                                        <a th:if="${p != page}" th:href="@{'/projects/categories/' + ${project.uuId} + '?s=' + ${size} + '&amp;p=' + ${p}}" th:text="${p}">1</a>
                                    </li>

                                    <li th:if="${count > last}" class="disabled"><span>...</span></li>

                                    <li th:class="${page == count} ? 'disabled' : ''">
                                        <span th:if="${page == count}">»</span>
                                        <a th:if="${page != count}" th:href="@{'/projects/categories/' + ${project.uuId} + '?s=' + ${size} + '&amp;p=' + ${page + 1}}">»</a>
                                    </li>
                                    <li th:class="${page == count} ? 'disabled' : ''">
                                        <span th:if="${page == count}">Last</span>
                                        <a th:if="${page != count}" th:href="@{'/projects/categories/' + ${project.uuId} + '?s=' + ${size} + '&amp;p=' + ${count}}">Last</a>
                                    </li>
                                </ul>
                            </span>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            
            <div id="categories" th:if="${categories.isEmpty()}" class="row" style="margin-top: 50px;">
                <div class="col-md-10 col-md-offset-1">
                    
                    <div class="panel panel-info">
                    
                        <div class="panel-heading">
                            <span class="panel-title" th:text="${project.projectShortName} + ' - Categories/Disciplines'" style="font-size: 22px;font-weight: bold;">Project Name</span>
                            <span class="pull-right">
                                <a href="javascript:void(0);" th:onclick="'javascript:BootboxProjectCategories(\'' + ${project.id} + '\');'" title="Update details" type="button" class="btn btn-sm btn-success tip-left">
                                    <i class="glyphicon glyphicon-plus"></i> Add New
                                </a>
                            </span>
                        </div>
                        
                        <div class="panel-body">
                        
                            <span>No categories or disciplines have been defined for this project.</span>
                        
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            
        </div>

    </body>

</html>